process {
    // <https://training.nextflow.io/basic_training/config/#config-docker-execution>

    withLabel : EMBOSS {
        container = 'biocontainers/emboss@sha256:45f7de44bcc525f4b02bb48a27df0c6e4d713c57c2a022cd9164ffbd02e1670b'
    }
    withLabel : GAWK {
        container = 'quay.io/biocontainers/gawk@sha256:701d6199235b36d054c24b1d0a889ca5e9740e301e4b46651f54d59576b73cd0'
    }
    withLabel : HMMER {
        container = 'quay.io/biocontainers/hmmer@sha256:f482523ecef8ddb9bf2d63e896b03173a51e9698d6f4e5c8f03c8aefedcaedc6'
        cpus = 4
    }
}
docker.enabled = true
