process {
    withLabel : process_single {
        cpus   = { 1                   }
        //memory = { 6.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel : process_single_more_memory {
        cpus   = { 1     * task.attempt }
        //memory = { 6.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withLabel : process_multi {
        cpus   = { 4     * task.attempt }
        //memory = { 6.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
}
docker.enabled = true
